@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/logo.png"
         alt="Bean Scene logo"
         class="img-fluid my-4"
         style="max-width: 300px;" />

    <h1 class="display-4">Welcome to Bean Scene</h1>
    <p>
        Learn about
        <a href="https://learn.microsoft.com/aspnet/core">
            building Web apps with ASP.NET Core
        </a>.
    </p>
</div>